<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="layout/layout :: head">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
  <header th:replace="layout/layout :: header" class="text-center"></header>
  <aside th:replace="layout/layout :: sidebar" class="text-center"></aside>
  <div main id="main" class="main">
    <div class="container">
      <div class="pagetitle">
        <h1 th:text="${titulo}"></h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/ecoSalud/">Home</a></li>
            <li class="breadcrumb-item">
              <a href="/ecoSalud/doctor/listar">Lista de Doctores</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/ecoSalud/doctor/crear">Crear </a>
            </li>
            <li class="breadcrumb-item active" th:text="${subTitulo}"></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- SECTION -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">NUEVO DOCTOR</h5>
              <form th:action="@{/doctor/guardar}" th:object="${doctor}" method="POST">
                <!-- REGISTRAR FORMULARIO -->

                <div class="form-group">
                  <label for="inputText" id="nombres">Nombres</label>
                  <input type="text" class="form-control" id="nombres" th:field="*{nombres}" />
                </div>

                <div class="form-group">
                  <label for="inputText" id="apellidos">Apellidos</label>
                  <input type="text" class="form-control" id="apellidos" th:field="*{apellidos}" />
                </div>

                <div class="form-group">
                  <label for="inputText" id="especialidad">Especialidad</label>
                  <input type="text" class="form-control" id="especialidad" th:field="*{especialidad}" />
                </div>

                <div class="form-group">
                  <label for="inputText" id="disponibilidad">Disponibilidad</label>
                  <input type="text" class="form-control" id="disponibilidad" th:field="*{disponibilidad}" />
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
