<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="layout/layout :: head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    
</head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <aside th:replace="layout/layout :: sidebar"></aside>
    <main id="main" class="main">
        <div class="container">
            <div class="pagetitle">
                <h1 th:text="${titulo}"></h1>
                <nav>
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item"><a href="/ecoSalud">Inicio</a></li>
                        <li class="breadcrumb-item">Usuarios</li>
                        <li class="breadcrumb-item active">Tabla</li>
                    </ol>
                </nav>
            </div>
            <!-- Contenido principal -->
            <div class="container">
                <!-- Resto del contenido -->
                <section class="section">
                    <div class="row">
                        <div class="col-lg">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Resto del contenido -->
                                    <div class="table-responsive">
                                        <table id="tablaUsuarios" class="table table-hover">
                                            <!-- Encabezado de la tabla -->
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Nombres</th>
                                                    <th scope="col">Apellido Paterno</th>
                                                    <th scope="col">Apellido Materno</th>
                                                    <th scope="col">Fecha de Nacimiento</th>
                                                    <th scope="col">Correo</th>
                                                    <th scope="col">Password</th>
                                                    <th scope="col">DNI</th>
                                                    <th scope="col">Telefono</th>
                                                    <th scope="col">Direccion</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <!-- Cuerpo de la tabla -->
                                            <tbody>
                                                <!-- Iteración sobre la lista de usuarios -->
                                                <tr th:each="usuario : ${listaUsuarios}">
                                                    <td th:text="${usuario.id_usuario}"></td>
                                                    <td th:text="${usuario.nombres}"></td>
                                                    <td th:text="${usuario.apellidoPaterno}"></td>
                                                    <td th:text="${usuario.apellidoMaterno}"></td>
                                                    <td th:text="${usuario.fechaNac}"></td>
                                                    <td th:text="${usuario.correo}"></td>
                                                    <td><input type="password" value="**********" disabled></td>
                                                    <td th:text="${usuario.dni}"></td>
                                                    <td th:text="${usuario.telefono}"></td>
                                                    <td th:text="${usuario.direccion}"></td>
                                                    <td>
                                                        <a th:href="@{/usuario/actualizar/{id}(id=${usuario.id_usuario})}"
                                                            class="btn btn-primary" data-toggle="tooltip"
                                                            data-placement="bottom" title="Actualizar Usuario">
                                                            <i data-feather="edit"></i>
                                                        </a>

                                                        <a th:href="@{/usuario/eliminar/{id}(id=${usuario.id_usuario})}"
                                                            class="btn btn-danger" data-toggle="tooltip"
                                                            data-placement="bottom" title="Eliminar usuario">
                                                            <i data-feather="trash-2"></i>
                                                        </a>
                                                        <script src="https://unpkg.com/feather-icons"></script>
                                                        <script>
                                                            feather.replace();
                                                        </script>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer th:replace="layout/layout :: footer"></footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#tablaUsuarios").DataTable({
                
                language: {
                    decimal: "",
                    emptyTable: "Datos no disponibles en la tabla",
                    infoEmpty: "Mostrando 0 a 0 de 0 registros",
                    infoFiltered: "(Filtrado de MAX registros totales)",
                    infoPostFix: "",
                    thousands: ",",
                    loadingRecords: "Cargando...",
                    processing: "Procesando...",
                    search: "Buscar:",
                    zeroRecords: "No se encontraron registros para la búsqueda",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                    aria: {
                        sortAscending: ": Activar para ordenar ascendente",
                        sortDescending: ": Activar para ordenar descendente",
                    },
                },
                lengthMenu: [10, 25, 50, 75, 100],
                pagingType: "full_numbers",
            });
            $('[data-toggle="tooltip"]').tooltip();
            $(window).resize(function () {
                $("#tablaUsuarios").DataTable().draw();
            });
        });
    </script>
</body>

</html>
